<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiledev.topimpamatricks">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <service
            android:name=".Keyboard.SimpleIME"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im"
                android:resource="@xml/method" />
        </service>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MatrixCalculation.DetailActivity"></activity>
        <activity android:name=".Calculator.CalculatorActivity"></activity>
        <activity android:name=".Keyboard.ImePreferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobiledev.topimpamatricks.MainActivity" />
        </activity>



    </application>



</manifest>
